<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>My Courses</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/project.css') }}">
    <head>
    <body>
    </div>
    <div class="topnav">
        <a href="/">HOME PAGE</a>
        <a href="/courses">MY COURSES</a>
        <a href="/assignments">ASSIGNMENTS</a>
    </div>
    <div class="row">
        <div class="leftcolumn">
            <div class="card">
                <h2>ENGI1006 Assignments 2020</h2>
                <p>This webpage was created as my final assignment of the ENGI1006
                course! </p>
                <p> Here are the assignments:.</p>  
                <style>
                table, th, td {
                  border: 1px solid black;
                  border-collapse: collapse;
                }
                th, td {
                  padding: 5px;
                  text-align: left;
                }
                </style>
                <table style="width:90%">
                  <tr>
                    <th>Spring 2020 Assignments</th>
                    <th>Description</th>
                  </tr>
                  <tr>
                    <td> Homework 1</td>
                    <td> A simply program that interact with the user and
                    also some functions to modify numerical lists</td>
                  </tr>
                  <tr>
                    <td>Homework 2</td>
                    <td>A program of a projectile tester using physics concepts</td>
                  </tr>
                  <tr>
                    <td>Homework 3</td>
                    <td>Create a program to solve the vertical percolation theory </td>
                  <tr>
                    <td>Homework 4</td>
                    <td>Use Oriented Object Programming to model a course</td>
                  </tr>
                  <tr>
                    <td>Homework 5</td>
                    <td> Complete our machine learning program using K 
                    Nearest neighbors and Support Vector Machine</td>
                  </tr>
                  <tr>
                    <td>Midterm</td>
                    <td> Create a program to manipulate PPM Images</td>
                  </tr>
                </table>
                <br>
                <h2>Favorite assignment</h2>
                <p> My favorite assignment was the Midterm one. It was very
                interesting being able to manipulate the images, and seeing the
                results! </p> 
                     </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>