<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>My Courses</title>
    <head>
    <body>
    <p>Spring 2020:</p>
    <p> - Calculus II</p>
    <p> - Physics: Electricity & Magnetism</p>
    <p> - Intro to Comp for Eng/App Science </p>
    <p> - First-Year Seminar: Language and Power</p>
    <p> - Tai Chi</p>
    <p>    </p>
    <p> My favorite class this semester was ENGI1006!</p>
    <p> I had no experience with coding, but the class showed me that it could
    be fun!</p>
    </body>
</html>
